body {
    background-color: #E4FDE1;
  }
  h1 {
    text-align: center;
  }
  .calculator {
    border-style: solid;
    border-radius: 30px;
    border-width: 2px;
    border-color: black;
    background-color: #c5c2bb;
    width: 28%;
    height: 500px;
    margin-left: 35%;
    text-align: center;
    #display-box {
      margin-top: 5%;
      display: inline-block;
      border-radius: 5px;
      text-align: center;
      width: 90%;
      height: 12%;
      background-color: #f5f5fa;
      border-style: none;
    }
    #keys {
      height: 100%;
    }
  }
  button {
    height: 16%;
    width: 22%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
  }
  .special-button {
    width: 45%;
  }
  